.table-container {
  width: 100%;
  padding: 20px;
}

.table-wrapper {
  overflow-x: auto;
}

.fancy-table {
  width: 100%;
  border-collapse: collapse;
}

.fancy-table th,
.fancy-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.fancy-table th {
  background-color: #f4f4f4;
}

.expandable-row {
  cursor: pointer;
  width: 20px;
}

.expand-icon {
  display: inline-block;
  margin-right: 10px;
}

.expanded-content {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
}

.edit-icon {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  width: 100%;
}
